<% if @user.errors.present? %>
  <p>
    <h2>There was an error</h2>
    <% for error in @user.errors.full_messages %>
    <%= error %>
    <% end %>
  </p>
<% end %>

<%= form_for [:admin, @user] do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>

  <%= f.submit %>
<% end %>